body {
    background-color: #D9D3D3;
    font-family: "Open Sans", sans-serif;
    background-image: url(../img/bg-img.png);
    background-repeat: no-repeat;
    background-position-x: center;
    color: #222222;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.container {
    max-width: 1110px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* header */
.header {
    padding: 60px 0;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    flex-basis: 60%;
}

.header-nav {
    flex-basis: 40%;
}

.header-nav a {
    color: #222222;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.ml-60px {
    margin-left: 80px;
}

/* end header */

/* slider */

#slider-wrapper .slider-flex {
    display: flex;
}
.slider-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.slider-text {
    flex-basis: 40%;
    margin-top: 70px;
}

.slider-text span {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 15px;
}

.slider-text h2 {
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1px;
    margin-bottom: 30px;
}

.slider-text p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 70px;
    color: #222;
}

.slider-text button {
    background: #4737FF;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    border: 1px solid transparent;
    padding: 17px 21px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 20px;
    cursor: pointer;
}

.slider-text button:hover {
    background-color: transparent;
    border: 1px solid #4737FF;
    color: #4737FF;
}

.slider-logo {
    display: inline-flex;
}

.slider-text a {
    text-decoration: none;
}

.slider-text img {
    display: inline-flex;
    margin-left: 14px;
    margin-right: 14px;
}

/* .slider-img {
    position: relative;
} */
/* end slider */


/* slick-slider */
.slick-dots {
    bottom: 60px;
    display: inline-flex;
    width: auto; 
}

.slick-dots li {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.slick-dots li button {
    width: 40px;
    height: 40px;
}

.slick-dots li button:before {
    line-height: 40px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    opacity: 1;
    font-family: "Open Sans", sans-serif;
}

.slick-dots li:nth-child(1) button:before {
    content: '1';
}

.slick-dots li:nth-child(2) button:before {
    content: '2';
}

.slick-dots li:nth-child(3) button:before {
    content: '3';
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #ffffff;
    background: #F96241;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
/* end slick-slider */